**/*Dockerfile
**/.dockerignore
**/.gitignore

**/.next/
**/coverage/
**/node_modules/
**/tsconfig.tsbuildinfo

apps/app/out/

.devcontainer/
.github/
.pnpm-store/
.vscode/
node_modules/
scripts/
.code-workspace
