@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #000000;
  --background: #ffffff;
  --placeholder: #6b7280;
  --input-background: #c0c0c0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ffde00;
    --background: #002030;
    --placeholder: #a0a0a0;
    --input-background: #153050;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

input,
select,
textarea,
div[role="textbox"] {
  background-color: var(--input-background);
}

input::placeholder,
select::placeholder,
textarea::placeholder {
  color: var(--placeholder);
}

.underline-red {
  @apply underline;
  text-decoration-color: red;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
